/*************************************************
/*
/*  THIS FILE CONTAINS ONLY LAYOUT CONFIGURATION
/*  To alter the visual style, edit /css/skin.css
/*
/*  CSS: layout
/*  One-Page-One theme for GetSimple CMS
/*  v0.6
/*  Author: Alexander Amatuni
/*  http://get-simple.info/forums/showthread.php?tid=6986
/*  

/**************************
/*  General + reset
**************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: medium none;
}

html {
	height: 100%;
}

body {
  	height: 100%;
}

.bx-wrapper img {display: inline !important;} 
#pages, .bx-wrapper, .bx-viewport { left: 0 !important; }

/**************************
/*  Navigation
**************************/
#nav {
    padding: 3em 0em;
    min-width: 10em;
    height: 100%;
    float: left;
    position: relative;
    overflow: visible;
    z-index: 10;
}

#nav ul {
    list-style-type: none;
}

#nav ul li a {
    display: block;
}

#mobile-menu {
    visibility: hidden;
    float: right;
}
#nav-trigger, label[for="nav-trigger"] {
    visibility: hidden;
}

/**************************
/*  Pages
**************************/
#content {
    z-index: 1;
	height: 100%;
    overflow: hidden;
    position: relative;
}

#pages, .bx-wrapper, .bx-viewport {
    height: 100% !important;   
    overflow: hidden; 
    border: none !important;
    background: none !important;
}

#wrapper {
    display: block;
    position: absolute;
    top: 2em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    margin: auto;
    z-index: 7;
}

.page {
    height: 100% !important;
    z-index: 8;
    text-align: center;
}

.page.transparent .page-wrapper {background: none;}

.page-wrapper {
    overflow: auto;
    height: 100% !important;
    z-index: 9;
}

/**************************
/*  Responsive mobile menu
**************************/
@media screen and (max-width: 64em) {
    #nav {
        width: 100%;
        height: auto;
        position: fixed;
    }

    #logo {display: inline;}

    #nav ul {
        display: none;
        text-align: right;
    }

    #mobile-menu {visibility: visible;}   
}